.header {
    backdrop-filter: blur(10px);
    /* Effet de flou */
    -webkit-backdrop-filter: blur(10px);
    /* Effet de flou pour Safari */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 8px;
    border-bottom: 2px solid var(--gray-alpha-200);
    height: var(--header-padding);
    display: flex;
    border-radius: 10px;
    background-color: #0c46516b
}

.headerTitle {
    display: flex;
    align-items: center;
    color: var(--yellow);
    font-family: var(--font-text);
    font-weight: 800;
    font-style: italic;
    /* only uppercase */
    text-transform: uppercase;
}